.background{
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
}
.watch{
  height: 100px;
  width: 40%;
}
.fish{
  background-color: aqua;
  height: 100%;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  
}
h1{
  text-align: center;
}
/* img{
 margin-left: 125px;
} */
p{
  text-align:center ;
}